Docker Desktop
Kvantum
dconf
discord
dunst
Postman
Electron
fastfetch
google-chrome
gtk-3.0
nwg-look
tmux/plugins
fish
gh
hyde
hypr
kde.org
kitty
libreoffice/4
menus
neofetch
obs-studio
obsidian
pulse
qt5ct
qt6ct
rofi
session
spicetify
spotify
swappy
swaylock
systemd/user
vlc
waybar
wlogout
xsettingsd
QtProject.conf
arkrc
baloofileinformationrc
code-flags.conf
dolphinrc
filetypesrc
gtk-4.0
kdeglobals
libinput-gestures.conf
mimeapps.list
pavucontrol.ini
spotify-flags.conf
starship.toml
trashrc
user-dirs.dirs
user-dirs.locale
